body {
	padding: 0;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	position: absolute;
	width: 150px;
	left: 0;
	top: 0;
}

canvas {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 140px;
	left: 20px;
	border: 1px solid #e0e0e0
}

.settingsContainer, #depthInputContainer, #dataUrlInputContainer {
	position: absolute;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	padding: 5px;
}

#depthInputContainer {
	position: absolute;
	top: 20px;
	left: 20px;
}

#depthInputContainer input {
	position: relative;
	top: 17px;
}

#dataUrlInputContainer {
	position: absolute;
	top: 20px;
	left: 100px;
}

#depthInputContainer .label {
	display: block;
	position: absolute;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 9pt;
	font-weight: 400;
	top: 4px;
	left: 0;
	right: 0;
	text-align: center;
}

.breadcrumbContainer {
	position: absolute;
	left: 20px;
	top: 90px;
	width: 500px;
	background-color: #FFFFFF;
	padding: 5px;
}

.breadcrumbContainer li {
	display: inline;
}

.breadcrumbContainer li:not(:last-child) a:after {
	content: "  >>  ";
	display: inline-block;
}

.breadcrumbContainer li:last-child a {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: #000;
}