body {
	padding: 0;
	margin: 0;
}

#content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #FFF url('/images/shadow9.png') no-repeat 100px 160px;
}

canvas {
	position: absolute;
	width: 480px;
	height: 420px;
	top: 171px;
	left: 119px;
}

#header {
	position: absolute;
	height: 49px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ABAD9C;
	border-bottom: 1px solid #818275;
	font-size: 22pt;
}

#header .title {
	display: block;
	position: relative;
	top: 6px;
	left: 9px;
}

#settings {
	position: absolute;
	height: 70px;
	top: 50px;
	left: 0;
	right: 0;
	background-color: #5E5EB5;
}

.sectionTitle {
	position: absolute;
	display: inline-block;
	width: 65px;
	color: #FFFFFF;
	padding: 3px 10px;
	background-color: #AF7817;
	border-top: 1px solid #1589FF;
	border-right: 1px solid #1589FF;
	border-bottom: 1px solid #1589FF;
}

.sectionTitle.settings {
	top: 22px;
}

.sectionTitle.breadcrumbs {
	top: 130px;
	z-index: 10;
}

.sectionTitle.visibleTreeModel {
	top: 170px;
	z-index: 10;
}

#depthInputContainer, #dataUrlInputContainer {
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	padding: 5px;
	position: absolute;
	top: 10px;
}

#depthInputContainer span, #dataUrlInputContainer span {
	display: block;
}

#depthInputContainer {
	left: 116px;
}

#dataUrlInputContainer {
	left: 193px;
}

.breadcrumbContainer {
	position: absolute;
	left: 113px;
	top: 128px;
	width: 500px;
	background: none;
	padding: 5px;
}

.breadcrumbContainer li {
	display: inline;
}

.breadcrumbContainer li a {
	font-size: 14pt;
	font-weight: 400;
}

.breadcrumbContainer li:not(:last-child) a:after {
	content: "  --->  ";
	display: inline-block;
}

.breadcrumbContainer li:last-child a {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: #000;
}